// Achivment
.achivment {
  margin: 0 -22px;
  padding: 42px 22px 44px;
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .achivment {
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .achivment {
    width: 100%;
  }
}

@media (min-width: 660px) {
  .achivment__fieldset {
    padding: 54px 0 50px 60px;
  }
}

@media (min-width: 1200px) {
  .achivment__fieldset {
    padding: 54px 60px 57px;
  }
}

.achivment__title {
  margin-top: 0;
  margin-bottom: 44px;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: 660px) {
  .achivment__title {
    padding: 0 31px;
    margin: 0;
  }
}

.achivment__box {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .achivment__box {
    display: flex;
    justify-content: space-between;
  }
}

.achivment__box-item {
  margin-bottom: 47px;
}

.achivment__box-items:last-child .achivment__box-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .achivment__box-item:last-child {
    margin-bottom: 0;
  }
}

.achivment__box-label {
  position: relative;
  z-index: 0;
  padding-left: 57px;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  cursor: pointer;
}

.achivment__box-label::before {
  position: absolute;
  content: url("../../img/checkbox.svg");
  z-index: 0;
  top: -5px;
  left: 0;
}

.achivment__box-input:checked + .achivment__box-label::before {
  position: absolute;
  content: url("../../img/checked-tick.svg");
  z-index: 0;
  top: -5px;
  left: 0;
}
// End Achivment
