// Annexes
.annexes {
  margin: 0 -22px;
  padding: 42px 22px 42px;
  background-color: #F2F2F2;
}

.annexes__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
}

.annexes__box {
  margin: 0;
  padding: 0;
}

.annexes__box-iten {
  margin-bottom: 38px;
}

.annexes__box-iten:last-child {
  margin-bottom: 0;
}

.annexes__box-label {
  position: relative;
  z-index: 0;
  padding-left: 68px;
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  cursor: pointer;
}

.annexes__box-label::before {
  position: absolute;
  content: url('../../img/annexes-radio.svg');
  z-index: 0;
  top: -5px;
  left: 0;
}

.annexes__box-input:checked + .annexes__box-label::before {
  position: absolute;
  content: url('../../img/annexes-radio-checked.svg');
  z-index: 0;
  top: -5px;
  left: 0;
}
// End Annexes
