// Comments
.comments {
  padding-top: 41px;
  padding-bottom: 58px;
  background-color: #ffffff;
  position: relative;
  z-index: 0;
}

@media (min-width: 660px) {
  .comments {
    padding-bottom: 52px;
  }
}

@media (min-width: 1200px) {
  .comments {
    padding-top: 73px;
    padding-bottom: 99px;
  }
}

.comments__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .commetns__container {
    position: relative;
  }

  .comments__slide::before {
    display: block;
    content: url("../img/quotes.svg");
    margin: 0 auto 43px;
  }
}

.comments__slide-description {
  margin-top: 0;
  margin-bottom: 30px;
  order: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

@media (min-width: 660px) {
  .comments__slide-description {
    font-size: 18px;
  }
}

.comments__slide-title {
  margin-top: 0;
  margin-bottom: 13px;
  order: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.comments__slide-text {
  display: none;
}

@media (min-width: 660px) {
  .comments__slide-title {
    order: 1;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .comments__slide-description {
    order: 0;
    max-width: 620px;
    width: 100%;
    margin-bottom: 35px;
  }

  .comments__slide-text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
  }
}

@media (min-width: 1200px) {
  .comments__slide-title {
    font-size: 24px;
  }

  .comments__slide-text {
    font-size: 18px;
  }

  .comments__slide-description {
    max-width: 770px;
    margin-bottom: 37px;
  }
}
// End Comments

// Carousel bullet
.comments__bullet-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .comments__bullet-box {
    display: none;
  }
}

.comments__carousel-bullet {
  width: 6px;
  height: 6px;
  background: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  margin-right: 19px;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .comments__carousel-bullet:not(.active):hover {
    background: #283645;
    opacity: 0.6;
  }

  .comments__carousel-bullet:not(.active):active {
    background: #283645;
    opacity: 0.1;
    transition: 0.3s;
  }

  .comments__carousel-bullet.active {
    background: #ffffff;
    border: 3px solid #283645;
  }
}

.comments__carousel-bullet:last-child {
  margin-right: 0;
}
// End Carousel bullet

// Carousel arrow
.comments__buttons-box {
  display: none;
}

@media (min-width: 660px) {
  .comments__buttons-box {
    display: none;
  }
}

@media (min-width: 1200px) {
  .comments__buttons-box {
    display: block;
  }

  .comments__arrow {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 45%;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
  }

  .comments__arrow:hover {
    opacity: 0.6;
  }

  .comments__arrow:active {
    opacity: 0.1;
  }

  .comments__left-arrow {
    left: 11px;
  }

  .comments__right-arrow{
    right: 11px;
  }

  .comments__right_arrow-icon {
    transform: rotate(180deg);
  }
}

// End Carousel arrow
