// Data
.data {
  padding: 31px 0 46px;
}

@media (min-width: 660px) {
  .data {
    padding: 54px 0 22px;
    order: 2;
  }
}

@media (min-width: 1200px) {
  .data {
    width: 100%;
    padding-top: 51px;
    padding-bottom: 40px;
  }
}

.data__fieldset-title {
  display: none;
}


@media (min-width: 660px) {
  .data__fieldset {
    padding: 31px 60px 28px 54px;
  }

  .data__fieldset-title {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    padding: 0 29px;
  }
}

@media (min-width: 1200px) {
  .data__fieldset {
    padding: 28px 55px 13px;
  }
}

.data__box-label {
  cursor: pointer;
}

@media (min-width: 660px) {
  .data-box,
  .data__box-label {
    display: flex;
    flex-direction: column;
  }

  .data__box-label {
    margin-bottom: 31px;
  }

  .data__box-label:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .data__box-label {
    margin-bottom: 0;
    width: calc(50% - 34px);
  }
}

@media (min-width: 1200px) {
  .data-box {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 660px) {
  .data__box-phone {
    position: relative;
  }

  .data__box-phone::after {
    position: absolute;
    content: url("../img/data-phone-icon.svg");
    z-index: 0;
    width: 59px;
    height: 59px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: #e5e5e5;
    top: 0;
    right: 0;
  }

  .data__box-address {
    position: relative;
  }

  .data__box-address::after {
    position: absolute;
    content: url("../img/data-mail-icon.svg");
    z-index: 0;
    width: 59px;
    height: 59px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: #e5e5e5;
    top: 0;
    right: 0;
  }
}

.data__phone-input,
.data__address-input {
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 12px 0 13px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.data__phone-input,
.data__address-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.data__phone-input,
.data__address-input::-moz-placeholder { /* Firefox 19+ */
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.data__phone-input,
.data__address-input:-ms-input-placeholder { /* IE 10+ */
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.data__phone-input,
.data__address-input:-moz-placeholder { /* Firefox 18- */
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.data__phone-input {
  margin-bottom: 19px;
}

@media (min-width: 660px) {
  .data__phone-input {
    order: 0;
    margin-bottom: 12px;
    padding-right: 69px;
  }

  .data__address-input {
    order: 2;
    margin-bottom: 12px;
    padding-right: 69px;
  }
}

@media (min-width: 1200px) {
  .data__phone-input,
  .data__address-input {
    margin-bottom: 13px;
  }
}

.data__span-phone,
.data__span-address {
  display: block;
  margin-left: 23px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: 660px) {
  .data__span-phone {
    order: 1;
    margin-left: 18px;
    margin-bottom: 0;
  }

  .data__span-address {
    order: 3;
    margin-left: 18px;
    margin-bottom: 0;
  }
}
// End Data
