// Emoution
.emoution {
  padding-top: 42px;
}

.emoution__title {
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #D22856;
}

.emoution__text {
  resize: none;
  display: block;
  max-width: 100%;
  padding: 22px 20px 0;
  margin-bottom: 52px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  box-sizing: border-box;
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.emoution__box-button {
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #2AAB6D;
  border: 2px solid #2AAB6D;
  border-radius: 1px;
  padding: 13px 10px 12px;
  max-width: 296px;
  width: 100%;
  margin-bottom: 40px;
}

.emoution__warning {
  display: block;
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #283645;
}

.emoution__warning-span {
  color: #D22856;
}
// End Emoution
