.feedback {
  padding-top: 50px;
  background-color: #fff;
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 45px;
  font-family: 'OpenSans-Light', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #283645;
}

.feedback__phone,
.feedback__email,
.feedback__address {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feedback__phone,
.feedback__email {
  margin-bottom: 31px;
}

.feedback__address {
  margin-bottom: 71px;
}

.feedback__phone-text,
.feedback__email-text,
.feedback__address-text {
  display: block;
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #283645;
}

.feedback__phone-number,
.feedback__email-link,
.feedback__address-link {
  font-family: 'OpenSans-Light', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #D22856;
}

.feedback__map-image {
  display: block;
  margin: 0 auto;
}
