.footer {
  padding-top: 55px;
  background-color: #ffffff;
  padding-bottom: 25px;
}

@media (min-width: 660px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 87px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 660px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  cursor: pointer;
  margin-bottom: 35px;
}

.footer__logo:hover .footer__logo-color {
  fill: #d22856;
  transition: 0.3s;
}

.footer__logo:active .footer__logo-color {
  fill: #283645;
  opacity: 0.3;
  transition: 0.3s;
}

.footer__logo:active .footer__logo-colr {
  opacity: 0.3;
  transition: 0.3s;
}

@media (min-width: 660px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.footer__logo-dekstop {
  display: none;
}

@media (min-width: 1200px) {
  .footer__logo-mobiletablet {
    display: none;
  }

  .footer__logo-dekstop {
    display: inline-block;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}

@media (min-width: 660px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.footer__social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 9px;
  cursor: pointer;
  background-color: #ffffff;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .footer__social-box {
    margin-right: 4px;
  }
}

.footer__social-box:last-child {
  margin-right: 0;
}

.footer__social-box:hover {
  border: 3px solid #283645;
  transition: 0.3s;
}

.footer__social-box:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
  transition: 0.3s;
  opacity: 0.3;
}

.footer__author {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;
  cursor: pointer;
}

.footer__author:hover path {
  fill: #283645;
  transition: 0.3s;
}

.footer__author:active path {
  fill: #283645;
  transition: 0.3s;
  opacity: 0.3;
}

@media (min-width: 1200px) {
  .footer__author {
    font-size: 18px;
  }
}

.footer__author-icon {
  margin-left: 15px;
}

@media (min-width: 660px) {
  .footer__author-icon {
    margin-left: 16px;
  }
}

@media (min-width: 1200px) {
  .footer__author-icon {
    margin-left: 13px;
  }
}
