.footer {
  padding-top: 40px;
  padding-bottom: 51px;
  background-color: #ffffff;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 660px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo {
  cursor: pointer;
  margin-bottom: 51px;
}

@media (min-width: 660px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

@media (min-width: 660px) {
  .footer__social {
    margin-bottom: 0;
  }
}

.footer__social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 14px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid #283645;
  border-radius: 50%;
}

.footer__social-box:last-child {
  margin-right: 0;
}

.footer__author {
  display: flex;
  align-items: center;
  font-family: "OpenSans-Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;
  cursor: pointer;
}

.footer__author-icon {
  margin-left: 15px;
}
