
// Form Main
@media (min-width: 660px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
  }

  .register {
    order: 0;
  }

  .annexes {
    order: 1;
  }

  .data {
    order: 2;
  }

  .achivment {
    order: 3;
  }

  .emoution {
    order: 4;
  }
}

@media (min-width: 1200px) {
  .form__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__title {
  padding: 41px 0 33px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 31px;
  text-align: center;
  color: #283645;
}

@media (min-width: 660px) {
  .form__title {
    padding: 90px 0 73px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .form__title {
    padding-top: 89px;
    padding-bottom: 86px;
  }
}

@media (max-width: 320px) {
  .fieldset {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 660px) {
  .fieldset {
    padding: 0;
  }
}

@media (min-width: 660px) {
  .legend {
    margin: 0 auto;
  }
}

.input-optional:hover {
  border-color: #283645;
  transition: 0.3s;
}

.input-optional:active {
  border-color: #d22856;
  transition: 0.3s;
}

// End Form
