
// Form Main
@media (min-width: 660px) {
  .form__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .form__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__title {
  padding: 45px 0 34px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.form__title-text {
  display: none;
}

@media (min-width: 660px) {
  .form__title {
    margin: 0 auto;
    max-width: 520px;
    width: 100%;
    padding: 90px 0 76px;
    font-size: 18px;
  }

  .form__title-text {
    display: block;
  }
}

@media (min-width: 1200px) {
  .form__title {
    max-width: 780px;
    padding-top: 89px;
    padding-bottom: 90px;
  }

  .form__title-text {
    display: inline-block;
  }
}
// End Form
