// Gallery
.gallery__panorame-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 44px 22px 0;
}

@media (min-width: 660px) {
  max-width: 445px;
  width: 100%;
  margin: 0 auto 50px;
}

@media (min-width: 1200px) {
  max-width: 580px;
}

.gallery__panorame-box {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery__panorame-box::before {
  position: absolute;
  z-index: 1;
  content: "Панорама дня";
  width: 140px;
  height: 36px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #d22856;
  top: 0;
  bottom: auto;
  right: 21px;
  box-sizing: border-box;
  padding-top: 5px;
  cursor: pointer;
}

@media (min-width: 660px) {
  .gallery__panorame-title {
    font-size: 18px;
    padding: 90px 0 28px;
  }

  .gallery__panorame-box::before {
    right: 20px;
    top: 11%;
  }
}

@media (min-width: 1200px) {
  .gallery__panorame-title {
    padding-bottom: 40px;
  }

  .gallery__panorame-box::before {
    right: 130px;
    top: 10%;
    padding-top: 8px;
  }
}

.gallery__picture-comment,
.gallery__panorame-comment {
  background-color: #f2f2f2;
  padding: 17px 0 17px 16px;
}

.gallery__panorame-comment {
  margin-bottom: 20px;
}

@media (min-width: 660px) {
  .gallery__picture-comment,
  .gallery__panorame-comment {
    background-color: #f2f2f2;
    padding: 22px 30px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .gallery__picture-comment {
    min-height: 155px;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .gallery__picture-comment,
  .gallery__panorame-comment {
    background-color: #f2f2f2;
    padding: 23px 30px 25px 27px;
  }
}

.gallery__panoramet-commen {
  margin-bottom: 30px;
}

.gallery__card-list-item {
  margin-bottom: 20px;
}

.gallery__card-list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 660px) {
  .gallery__card-list-item {
    margin: 0;
  }
}

.gallery__panorame-image,
.gallery__picture {
  display: block;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .gallery__panorame-image {
    width: 660px;
    height: 509px;
  }

  .gallery__picture {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .gallery__panorame-image {
    width: 1200px;
    height: 506px;
  }

  .gallery__picture {
    width: 300px;
    height: 400px;
  }
}

.gallery__card-list {
  margin: 0;
  padding: 0;
}

.gallery__card-item {
  margin-bottom: 20px;
}

.gallery__card-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 660px) {
  .gallery__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .gallery__card-list-item {
    height: 100%;
  }

  .gallery__card-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .gellery__cartd-article {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .gallery__card-list {
    grid-template-columns: repeat(3, 300px);
    row-gap: 54px;
  }
}

.gallery__comment-username {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.gallery__comment-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}

.gallery__comment-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align-last: left;
  margin-top: 0;
  margin-bottom: 13px;
}

.gallery__comment-likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #d22856;
}

@media (min-width: 660px) {
  .gallery__comment-likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
}

.gallery__comment-icon {
  margin-right: 15px;
}

@media (min-width: 660px) {
  .gallery__comment-icon {
    order: 1;
    margin-right: 0;
  }
}

@media (min-width: 660px) {
  .gallery__panorame-comment {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .gallery__panorame-username {
    order: 0;
    width: 50%;
    margin-bottom: 0;
  }

  .gallery__panorame-text {
    order: 2;
    width: 100%;
    margin-bottom: 0;
  }

  .gallery__panorame-likes {
    order: 1;
    justify-content: end;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
  }

  .gallery__panorame-icon {
    margin-left: 16px;
  }
}
// End Gallery
