// Gallery
.gallery__panorame-title {
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 54px 22px 0;
}

.gallery__panorame-comment {
  background-color: #F2F2F2;
  padding: 25px 17px 0 26px;
}

.gallery__panorame-comment,
.gallery__card-itme {
  margin-bottom: 30px;
}

.gallery__card-itme:last-child {
  margin-bottom: 0;
}

.gallery__panorame-image,
.gallery__picture {
  display: block;
  margin: 0 auto;
}

.gallery__card {
  margin: 0;
  padding: 0;
}

.gallery__comment-username {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: 'OpenSans-Bold', 'Arial', sans-serif;
  font-weight: 700;
}

.gallery__comment-time {
  font-family: 'OpenSans-Light', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #283645;
}

.gallery__comment-text {
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align-last: left;
  margin-top: 0;
  margin-bottom: 25px;
}

.gallery__comment-likes {
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #D22856;
}

.gallery__comment-icon {
  margin-right: 18px;
}
// End Gallery
