// Variables
@basic-color: #fff;
@block-liststyle: none;
@block-text-decoration: none;
// End Variables

.header {
  background-image: url("../img/back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  padding-bottom: 38px;
}

@media (min-width: 660px) {
  .header {
    position: relative;
    background-image: url("../img/back-table.jpg");
    padding-bottom: 119px;
  }
}

@media (min-width: 1200px) {
  .header {
    position: relative;
    background-image: url("../img/back-dekstop.jpg");
    padding-bottom: 0;
  }
}

.header__tablet-logo,
.header__dekstop-logo {
  display: none;
}

@media (min-width: 660px) {
  .header__dekstop-logo,
  .header__mobile-loog-link {
    display: none;
  }

  .header__tablet-logo {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    display: none;
  }

  .header__dekstop-logo {
    display: block;
  }
}

// Header Navigation
.header__top-line {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1200px) {
  .header__nav {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 23px 0 23px;
  }
}

.header__logo-link,
.header__dekstop-logo {
  cursor: pointer;
}

.header__nav-list {
  list-style: @block-liststyle;
  margin-left: auto;
  display: flex;
  align-items: end;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .header__nav-list {
    flex-direction: row;
    margin-left: 173px;
  }
}

@media (min-width: 1200px) {
  .header__nav-item {
    margin-right: 79px;
    padding-top: 13px;
  }

  .header__nav-item:last-child {
    margin-right: 0;
  }
}

.header__nav-link {
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  text-decoration: @block-text-decoration;
  color: @basic-color;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .header__nav-link {
    font-family: "OpenSans-Regular", "Arial", sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
  }

  .header__nav-span {
    text-transform: uppercase;
  }
}

// Header Navigation

// Header Content
.header__content {
  padding-top: 29px;
}

@media (min-width: 660px) {
  .header__content {
    display: flex;
    align-items: center;
    padding: 120px 22px 0;
  }
}

@media (min-width: 1200px) {
  .header__content {
    position: relative;
    z-index: 0;
    padding: 116px 20px 107px;
  }
}

.header__content-title {
  margin: 0;
  margin-bottom: 34px;
  color: @basic-color;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 660px) {
  .header__content-title {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 39px;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .header__content-title {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 35px;
  }
}

.header__content-image {
  display: block;
  margin: 0 auto;
}

.header__content-image-tablet {
  display: none;
}

.header__content-image-dekstop {
  display: none;
}

@media (min-width: 660px) {
  .header__content-image {
    display: none;
  }

  .header__content-image-tablet {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .header__content-image,
  .header__content-image-tablet {
    display: none;
  }

  .header__content-image-dekstop {
    display: block;
    position: absolute;
    z-index: 0;
    right: 42px;
    bottom: 0;
  }
}

// End Header Content


// Header Content Form
.header__content-form {
  padding: 38px 0 51px;
}

@media (min-width: 660px) {
  .header__content-form {
    padding: 81px 0 74px;
  }
}

@media (min-width: 1200px) {
  .header__content-form {
    padding: 74px 0 89px;
  }
}

.form__title-tablet,
.form__title-dekstop {
  display: none;
}

.header__form-title {
  font-size: 24px;
  line-height: 33px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .header__form-title {
    font-size: 30px;
    line-height: 68px;
  }

  .form__title-mobile,
  .form__title-dekstop {
    display: none;
  }

  .form__title-tablet {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header__form-title {
    font-size: 50px;
    line-height: 68px;
  }

  .form__title-mobile,
  .form__title-tablet {
    display: none;
  }

  .form__title-dekstop {
    display: block;
  }
}
// End Header Content Form

// Header Content Catalog
.header__content-catalog {
  padding: 36px 0 84px;
}

@media (min-width: 660px) {
  .header__content-catalog {
    padding: 81px 0 143px;
  }
}

@media (min-width: 660px) {
  .header__content-catalog {
    padding: 74px 0 104px;
  }
}

.header__catalog-title {
  margin: 0 auto;
}

@media (min-width: 660px) {
  .br__mobile {
    display: none;
  }
}
// End Header Content Catalog
