// Variables
@basic-color: #fff;
@block-liststyle: none;
@block-text-decoration: none;
// End Variables

.header {
  position: relative;
}

@media (min-width: 960px) {
  .header {
    padding-bottom: 0;
  }
}

.header__logo-link {
  display: inline-block;
  padding: 20px 0 19px;
  cursor: pointer;
}

.header__logo {
  width: 74px;
  height: 24px;
}

.header__mobile-logo {
  fill: #ffffff;
}

.header__tablet-logo,
.header__desktop-logo {
  display: none;
}

@media (min-width: 660px) {
  .header__logo-link {
    padding: 27px 0 40px;
  }

  .header__logo {
    width: 145px;
    height: 40px;
  }

  .header__mobile-logo,
  .header__desktop-logo {
    display: none;
  }

  .header__tablet-logo {
    display: block;
    fill: #ffffff;
  }
}

@media (min-width: 960px) {
  .header__logo {
    width: 147px;
    height: 40px;
  }

  .header__mobile-logo,
  .header__tablet-logo {
    display: none;
  }

  .header__desktop-logo {
    display: block;
    fill: #ffffff;
  }
}

.header__logo-link:hover .header__mobile-logo,
.header__logo-link:hover .header__tablet-logo,
.header__logo-link:hover .header__desktop-logo {
  fill: #d22856;
  transition: 0.3s;
}

.header__logo-link:active .header__mobile-logo,
.header__logo-link:active .header__tablet-logo,
.header__logo-link:active .header__desktop-logo {
  fill: #ffffff;
  opacity: 30%;
  transition: 0.3s;
}

// Header Navigation
.header__top-line {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 9;
  transition: background 0.3s;
}

// .header-nav-container {
//   background-color: #1d2631;
// }

@media (min-width: 960px) {
  .header-nav-container {
    display: flex;
  }
}

.header__wrap {
  background-image: url("../img/back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center top;
  margin-top: -66px;
  padding-top: 66px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-color: rgba(0, 0, 0, 0.9);
  }
}

@media (min-width: 660px) {
  .header__wrap {
    position: relative;
    background-image: url("../img/back-table.jpg");
    margin-top: -110px;
    padding-top: 110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-table@2x.jpg");
    }
  }
}

@media (min-width: 960px) {
  .header__wrap {
    position: relative;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

@media (max-width: 959.98px) {
  .header__open-nav {
    background: #283645;
    box-shadow: 0 1px 0 #000000;
  }
}

@media (min-width: 960px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.header__nav-list {
  list-style: @block-liststyle;
  margin-left: auto;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.header__nav-item {
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 960px) {
  .header__nav-item {
    width: auto;
  }
}

.header__nav-item:not(:first-child) {
  margin-top: 1px;
}

@media (min-width: 960px) {
  .header__nav-list {
    flex-direction: row;
    margin-left: 173px;
  }

  .header__nav-item {
    margin-right: 79px;
  }

  .header__nav-item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 960px) and (max-width: 1000px) {
  .header__nav-item {
    margin-right: 65px;
  }
}

.header__nav-link {
  font-weight: 700;
  font-size: 18px;
  display: block;
  padding: 16px 0 13px;
  line-height: 32px;
  text-align: center;
  text-decoration: @block-text-decoration;
  color: @basic-color;
  text-transform: uppercase;
  background-color: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid transparent;
}

@media (min-width: 320px) and (max-width: 959.98px) {
  .header__nav-link:hover,
  .header__nav-toggler:hover,
  .header__header__toggler-open:hover {
    color: #d22856;
    transition: 0.3s;
  }

  .header__nav-link:active,
  .header__nav-toggler:active,
  .header__header__toggler-open:active {
    color: rgba(210, 40, 86, 0.3);
    transition: 0.3s;
  }
}

@media (min-width: 960px) {
  .header__nav-link:hover {
    color: #d22856;
    transition: 0.3s;
  }

  .header__nav-link:active {
    color: #ffffff;
    opacity: 30%;
    transition: 0.3s;
  }

  .header__nav-link.active {
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
  }
}

@media (min-width: 960px) {
  .header__nav-link {
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    background-color: transparent;
    box-shadow: none;
  }

  .header__nav-link_size {
    text-transform: uppercase;
  }
}

/* nav-toggler */
.header__nav-toggler {
  position: absolute;
  top: 21px;
  right: 16px;
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 23px;
  display: none;
  transition: 0.3s;
}

@media (min-width: 660px) {
  .header__nav-toggler {
    top: 43px;
  }
}

@media (max-width: 959.98px) {
  .header__nav-toggler_visible {
    display: block;
  }
}

.header__nav-line,
.header__nav-line::before,
.header__nav-line::after {
  width: 49px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  transition: 0.3s;
}

.header__nav-toggler.header__toggler-open .header__nav-line {
  width: 25px;
}

.header__nav-toggler.header__toggler-open:hover .header__nav-line {
  background-color: transparent;
}

.header__nav-toggler:hover .header__nav-line,
.header__nav-toggler:hover .header__nav-line::before,
.header__nav-toggler:hover .header__nav-line::after {
  background-color: #d22856;
}

.header__nav-toggler.header__toggler-open:active .header__nav-line {
  background-color: transparent;
}

.header__nav-toggler:active .header__nav-line {
  opacity: 0.3;
}

.header__toggler-open .header__nav-line::before,
.header__toggler-open .header__nav-line::after {
  width: 30px;
}

.header__toggler-open {
  right: 16px;
}

.header__nav-line::before {
  content: "";
  transform: translateY(-9px);
}

.header__nav-line::after {
  content: "";
  transform: translateY(6px);
}

.header__toggler-open .header__nav-line {
  background-color: transparent;
}

.header__toggler-open .header__nav-line::before {
  transform: translateY(0) rotate(45deg);
}

.header__toggler-open .header__nav-line::after {
  transform: translateY(-3px) rotate(-45deg);
}
/* end nav-toggler*/

/* mobile breakpoint start */
@media (max-width: 959.98px) {
  /* navbar css for mobile start */
  .header__nav {
    height: calc(100vh - 60px);
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .header__nav.header__nav_no-js {
    max-height: 255px;
    overflow: visible;
  }

  .header__nav.open {
    max-height: 252px;
    overflow: visible;
    background: #283645;
    margin: 0 -20px;
  }
}


@media (min-width: 660px) and (max-width: 959.98px) {
  .header__nav.open {
    max-height: 256px;
    overflow: visible;
  }
}
/* navbar css for mobile end */
// Header Navigation

// Header Content
.header__content {
  padding-top: 20px;
}

@media (min-width: 660px) {
  .header__content {
    display: flex;
    align-items: center;
    padding: 93px 18px 84px;
  }
}

@media (min-width: 960px) {
  .header__content {
    position: relative;
    z-index: 0;
    padding: 98px 20px 91px;
  }
}

.header__content-title {
  max-width: 240px;
  width: 100%;
  margin: 0 auto 28px;
  color: @basic-color;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 660px) {
  .header__content-title {
    max-width: 240px;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 28px;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 960px) {
  .header__content-title {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 37px;
  }
}

.header__content-image {
  display: block;
  margin: 0 auto 0 -20px;
}

@media (min-width: 320.98px) and (max-width: 659.98px) {
  .header__content-image {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 660px) {
  .header__content-image {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 2px;
    width: 490px;
    height: 545px;
  }
}

@media (min-width: 960px) {
  .header__content-image {
    position: absolute;
    z-index: 0;
    right: 42px;
    bottom: 0;
    width: 558px;
    height: 645px;
  }
}

// End Header Content

// Applications
.header__applications {
  padding-top: 27px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1d2631;
  margin: 0 -20px;
}

@media (min-width: 660px) {
  .header__applications {
    background-color: transparent;
    padding-top: 0;
    position: relative;
    z-index: 0;
  }
}

.header__application-button {
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @basic-color;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid @basic-color;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 16px 36px 15px;
  cursor: pointer;
}

.header__application-button:hover {
  background-color: #ffffff;
  color: #d22856;
  transition: 0.3s;
}

.header__application-button:active {
  background-color: #ffffff;
  color: rgba(210, 40, 86, 0.3);
  transition: 0.3s;
}

@media (min-width: 660px) {
  .header__application-button {
    padding: 16px 46px 15px;
    margin-bottom: 40px;
  }
}

@media (min-width: 960px) {
  .header__application-button {
    margin-bottom: 68px;
    padding: 16px 29px 16px;
    font-size: 21px;
  }
}

.header__application-box {
  margin-bottom: 19px;
}

@media (min-width: 660px) {
  .header__application-box {
    margin-bottom: 33px;
  }
}

@media (min-width: 960px) {
  .header__application-box {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
  }
}

.header__applications-link {
  margin-right: 31px;
  cursor: pointer;
}

@media (min-width: 960px) {
  .header__applications-link {
    margin-right: 35px;
  }
}

.header__applications-link:last-child {
  margin-right: 0;
}

.header__applications_content-description {
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @basic-color;
}

@media (min-width: 660px) {
  .header__applications_content-description {
    font-size: 18px;
    max-width: 300px;
  }
}
// End Applications

// Header Content Form
.header__content-form {
  padding: 27px 0 43px;
}

@media (min-width: 660px) {
  .header__content-form {
    padding: 66px 0 60px;
  }
}

@media (min-width: 960px) {
  .header__content-form {
    padding: 60px 0 89px;
  }
}

.header__form-title {
  font-size: 24px;
  line-height: 33px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .header__form-title {
    max-width: 480px;
    width: 100%;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: 960px) {
  .header__form-title {
    max-width: 775px;
    font-size: 50px;
    line-height: 68px;
  }
}
// End Header Content Form

// Header Content Catalog
.header__content-catalog {
  padding: 28px 0 83px;
}

@media (min-width: 660px) {
  .header__content-catalog {
    padding: 67px 0 129px;
  }
}

@media (min-width: 960px) {
  .header__content-catalog {
    padding: 59px 0 89px;
  }
}

.header__catalog-title {
  margin: 0 auto;
  max-width: 190px;
  width: 100%;
}

@media (min-width: 660px) {
  .header__catalog-title {
    max-width: 375px;
    font-size: 50px;
    line-height: 68px;
  }
}
// End Header Content Catalog
