.upload {
  padding-top: 43px;
}

@media (min-width: 660px) {
  .upload {
    padding-top: 61px;
  }
}

@media (min-width: 1200px) {
  .upload {
    padding-top: 57px;
  }
}

.upload__title {
  margin: 0;
  padding-bottom: 45px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

@media (min-width: 660px) {
  .upload__title {
    padding-bottom: 70px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .upload__title {
    padding-bottom: 68px;
  }
}

.upload__wrapper {
  background-color: #f2f2f2;
  margin: 0 -20px;
  padding: 18px 20px 29px;
}

@media (min-width: 660px) {
  .upload__wrapper {
    margin: 0 -20px;
    display: flex;
    padding: 57px 20px 12px;
  }
}

@media (min-width: 1200px) {
  .upload__wrapper {
    margin: 0;
    display: flex;
    padding: 55px 60px 42px 80px;
  }
}

.upload__photo {
  display: block;
  margin: 0 auto 42px;
}

@media (min-width: 660px) {
  .upload__photo {
    margin-left: 0;
    margin-right: 49px;
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .upload__photo {
    margin-right: 90px;
  }
}

.upload__wrapper-box {
  width: 100%;
}

.upload__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  position: relative;
  text-align: center;
}

@media (min-width: 660px) {
  .upload__button-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 8px;
    align-items: normal;
  }
}

@media (min-width: 1200px) {
  .upload__button-wrapper {
    margin-top: -2px;
    padding-top: 0;
  }
}

.upload__button-box:not(:last-child) {
  margin-right: 35px;
}

@media (min-width: 660px) {
  .upload__button-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
    margin-bottom: 22px;
    padding-bottom: 23px;
  }

  .upload__button-box:not(:last-child) {
    margin-right: 0;
  }

  .upload__button-box:last-child {
    margin-bottom: 65px;
  }
}

@media (min-width: 1200px) {
  .upload__fill-box {
    border-bottom: solid 1px rgba(40, 54, 69, 0.1);
  }

  .upload__button-box:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .upload__button-box {
    margin-bottom: 15px;
    padding-bottom: 11px;
  }
}

.upload__button {
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 660px) {
  .upload__button {
    margin-right: 29px;
  }

  .upload__button:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .upload__button {
    margin-right: 48px;
  }
}

.upload__button-icon {
  filter: grayscale(100%);
  opacity: 0.3;
}

.active .upload__button-icon {
  filter: none;
  opacity: 1;
}

.upload__button-icon:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.upload__button-icon:active {
  fill: #d22856;
  transition: 0.3s;
}

@media (min-width: 660px) {
  .upload__button-icon {
    width: 22px;
    height: 22px;
    filter: none;
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .crop-icon {
    width: 44px;
    height: 44px;
  }

  .fill-icon {
    width: 48px;
    height: 43px;
  }

  .contrast-iocn {
    width: 32px;
    height: 32px;
  }
}

.upload__range-conrtols {
  width: 100%;
}

@media (max-width: 659px) {
  .upload__range-conrtols {
    display: none;
  }

  .active .upload__range-conrtols {
    display: block;
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .upload__range-conrtols {
    padding: 0;
  }
}

.upload__scale-bar {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 2px;
  background: #283645;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .upload__scale-bar {
    margin: 0;
    max-width: 202px;
  }
}

@media (min-width: 1200px) {
  .upload__scale-bar {
    max-width: 288px;
  }
}

.upload__togle {
  position: absolute;
  z-index: 0;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  box-sizing: border-box;
  right: 33px;
  top: -6px;
}

.upload__togle:hover {
  background: #d22856;
}

@media (min-width: 660px) {
  .crop-togle {
    right: 41px;
  }

  .fill-togle {
    left: 25px;
  }

  .contrast-togle {
    right: 92px;
  }
}

@media (min-width: 1200px) {
  .crop-togle {
    left: 69px;
  }

  .fill-togle {
    left: 242px;
  }

  .contrast-togle {
    left: 171px;
  }
}

.upload__buttons {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-top: solid 1px rgba(40, 54, 69, 0.1);
}

@media (min-width: 660px) {
  .upload__buttons {
    display: block;
    padding-top: 0;
    border-top: none;
  }
}

@media (min-width: 660.99px) and (max-width: 1199.99px) {
  .upload__buttons {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .upload__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: none;
    padding-top: 165px;
  }
}

.upload__button,
.upload__togle,
.upload__buttons-post,
.upload__buttons-cancel {
  cursor: pointer;
}

.upload__buttons-post {
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  max-width: 280px;
  width: 100%;
  padding: 15px 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  background-color: #f2f2f2;
  margin-bottom: 12px;
}

.upload__buttons-post:hover {
  color: #ffffff;
  background: #d22856;
}

.upload__buttons-post:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 660px) {
  .upload__buttons-post {
    margin-bottom: 24px;
    max-width: 258px;
  }
}

@media (min-width: 1200px) {
  .upload__buttons-post {
    margin-right: 44px;
  }
}

.upload__buttons-cancel {
  background-color: #f2f2f2;
  border: 3px solid rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
  box-sizing: border-box;
  border-radius: 30px;
  max-width: 280px;
  width: 100%;
  padding: 14px 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.upload__buttons-cancel:hover {
  background-color: rgba(242, 242, 242, 0.3);
  border: 3px solid rgba(40, 54, 69, 0.3);
  color: rgba(40, 54, 69, 0.3);
  transition: 0.3s;
}

.upload__buttons-cancel:active {
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid rgba(40, 54, 69, 0);
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

@media (min-width: 660px) {
  .upload__buttons-cancel {
    max-width: 258px;
  }
}

@media (min-width: 1200px) {
  .upload__buttons-post,
  .upload__buttons-cancel {
    max-width: 183px;
    margin-bottom: 0;
  }
}
