.body {
  margin: 0;
}

.container   {
  padding: 0 20px;
}

// Dekstop

// End Dekstop



// Tqable
// End Tablet


// Mobile
@media screen and (max-width: 320px) {
  .container {
    padding: 0 22px;
  }
}
// End Mobile
