.body {
  font-family: "OpenSans", "Arial", sans-serif;
  margin: 0;
}

// Visually-hidden
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
// End Visually-hidden

// list-style
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
// End list-style

// label
.label {
  border-radius: 1px;
}
// End label

// fieldset
@media (min-width: 320px) and (max-width: 659.98px) {
  .fieldset {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 660px) {
  .fieldset {
    padding: 0;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }
}
// End fieldset

// legend
@media (min-width: 660px) {
  .legend {
    margin: 0 auto;
  }
}
// End legend

// input
.input-optional:hover {
  border-color: #283645;
  transition: 0.3s;
  outline: none;
}

.input-optional:focus {
  border-color: #d22856;
  transition: 0.3s;
  outline: none;
}
// End input

// sprite
.sprite {
  width: 0;
  height: 0;
}
// End  sprite
