// Visually-hidden
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
// End Visually-hidden

// list-style
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
// End list-style


// Img Responsive
.responsive {
  max-width: 100%;
  height: auto;
}
//End Img Responsive
